{% extends 'base.html.twig' %}
{% block body %}
    <h6 class="border-bottom border-gray pb-2 mb-0">All Categories</h6>
    {% for param in params %}
        <strong class="d-block text-left mt-3 border-bottom border-gray">
            {{ include('categories/categories-list.html.twig', { 'param':param }) }}
        </strong>
    {% endfor %}
{% endblock %}
