<div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125">
        <span class="d-block">
            <strong class="text-gray-dark">{{param.categoryName}}</strong>
            <span style="float:right;">
                <a href="{{ path('category-edit', {'id': param.id}) }}">
                    <button type="submit" class="btn-primary btn">Edit</button>
                </a>
            </span>
        </span>
    </p>
</div>
