<div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125">
        <span class="d-block">
            <strong class="text-gray-dark">{{user.firstName}} {{user.lastName}}</strong>
            <span style="float:right;">
                <a href="{{ path('edit_single_user', {'id': user.id}) }}">
                    <button type="submit" class="btn-primary btn">Edit</button>
                </a>
            </span>
        </span>
    </p>
</div>
