{% extends 'base.html.twig' %}
{% block body %}
    <h6 class="border-bottom border-gray pb-2 mb-0">Public Tasks</h6>
    {% for param in params %}
        <a href="{{ path('public_task',
            {'id': param.id}) }}">
            {{ include('tasks/row-single-task-list.html.twig', { 'param':param }) }}
        </a>
        <small class="d-block text-left mt-3 border-bottom border-gray"></small>
    {% endfor %}
{% endblock %}
