<div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125">
        <span class="d-block">
            <strong class="text-gray-dark">List #{{ param.listNumber }}</strong>
            <br><strong class="text-gray-dark">{{ param.listTitle }}</strong>
        </span>
    </p>
</div>
